*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home_section {
  min-width: 80vw;
  min-height: 90vh;
  margin-top: 10vh;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
 
.home_greet {
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  color: var(--green);
  letter-spacing: 0.5px;
  line-height: 6vh;
}
 
.home_heading_1 {
  color: var(--lightest-slate);
  font-size: var(--fz-xxl);
  letter-spacing: 1px;
  line-height: 8vh;
}
 
.home_heading_2 {
  font-size: var(--fz-lg);
  color: var(--slate);
  letter-spacing: 1px;
  line-height: 8vh;
}
 
.home_desc {
  max-width: 76vw;
  font-family: var(--font-verdana);
  font-size: var(--fz-sm);
  letter-spacing: 0.5px;
  line-height: 4vh;
  background-color: var(--light-navy);
  padding: 0.5rem;
}
 
.home_btn {
  outline: none;
  margin-top:2rem;
  padding: 1rem 1.5rem;
  background: transparent;
  border: 1px solid var(--green);
  font-size: var(--fz-md);
  color: var(--green);
  border-radius: 5px;
  cursor: pointer;
}
 
.home_btn:hover {
  background: var(--green-tint);
}