*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.work_container {
  margin: 0rem 5rem;
  padding-top: 8rem;
  min-width: 60vw;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
   
.work_project {
  min-width: 30vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.work_title{
  background-color: var(--light-navy);
  font-size: var(--fz-lg);
  padding: 1rem 2rem;
}

.work_title:hover{
  color:var(--green);
}
   
.work_desc {
  width: 30vw;
  margin: 0.5rem;
  margin-left: 0;
  font-size: var(--fz-md);
  color: var(--light-slate);
  font-family: var(--font-verdana);
}
   
.work_skill_container {
  margin: 0.5rem 0;
  display: flex;
  gap:0.5rem;
}

.work_skill{
  font-family: var(--font-verdana);
  font-size: var(--fz-sm);
  font-weight: 500;
}
      
.work_links_container {
  margin:0.5rem;
  margin-left: 0;
  display: flex;
  gap:0.5rem;
}

.work_link{
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
  font-style: italic;
  font-weight: 500;
  margin-bottom: 10px;
}
    
.work_link:hover {
  cursor: pointer;
  color: var(--green);
}