*{
    padding: 0;
    margin: 0;
}

.contact_bar_wrapper {
    position: fixed;
    top: 215px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}
 
.contact_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
 
.contact_bar_line {
    width: 1px;
    height: 200px;
    margin-top:0.5rem;
    background: var(--light-slate);
}
 
.contact_bar_icon {
    margin-top: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
 
.contact_bar_icon:hover {
    color: var(--green);
    transform: translateY(-3px);
}