.contact-container{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-left{
    width:55%;
    max-width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.form-bg{
    width:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap:1.5rem;
}

.form-group-wrapper{
    width:100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-group-wrapper .form-group{
    width: 48%;
    max-width: 48%;
}

.form-group{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.form-group-label{
    margin-left: 0.5rem;
    font-size: var(--fz-md);
    color: var(--clr-white);
}

.form-group-input {
    padding: 0.5rem;
    border-radius: 8px;
    color:var(--clr-white);
    border:2px solid var(--clr-aqua);
    background-color: transparent;
}

.contact-right{
    padding: 1rem;
    width:30%;
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
  }

.contact-heading {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: var(--fz-lg);
    letter-spacing: 0.5px;
    font-weight: 600;
    color: var(--clr-slate);
}

.icon-div{
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.sm-icon-div{
    padding: 1rem 1.25rem;
    color: var(--clr-white);
    border: 2px solid var(--clr-light-navy);
    background-color: var(--clr-light-navy);
    border-radius: 10px;
}

.sm-icon-div:hover{
    cursor: pointer;
    border: 2px solid var(--clr-aqua);
    background-color: var(--clr-navy);
}

.sm-icons{
    font-size: var(--fz-md);
}

.contact-text{
    font-size: 1.75vw;
}

.follow-me-div{
   width: 100%;
   max-width: 100%;
   display: flex;
   gap:2rem;
}

@media screen and (max-width: 701px){
    .contact-container{
        flex-direction: column;
        gap:2rem;
    }

    .contact-left{
        width: 90%;
        max-width: 90%;
    }

    .form-group-wrapper{
        flex-direction: column;
        gap:1.5rem
    }

    .form-group-wrapper .form-group{
        width: 100%;
        max-width: 100%;
    }

    .contact-right{
        width:90%;
        max-width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .icon-div{
        flex-direction: column;
        gap:0.5rem;
    }

    .sm-icon-div{
        font-size: var(--fz-sm);
        padding: 0.75rem 1rem;
    }

    .contact-text{
        font-size: 2.5vw;
    }
}