*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about_container {
  margin-left: 5rem; 
  margin-right: 10rem;
  min-width:80vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.about_left {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2.5rem;
  background-color: var(--light-navy);
}

.about_desc {
  text-align:justify;
  font-family: var(--font-verdana);
  font-size: var(--fz-md);
  color: var(--slate);
}
 
.about_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_profile_img {
  width: 250px;
  height:300px;
  border-radius: 10px;
  background-color: var(--light-navy);
}
 
.about_img_border {
  width: 260px;
  height: 310px;
  margin-top: 30px;
  margin-left: 30px;
  position: absolute;
  border-radius: 10px;
  border: 2px solid var(--green);
  transition: var(--transition);
  z-index: -1;
}
 
.about_profile_img:hover ~ .about_img_border {
  margin-top: 0px;
  margin-left: 0px;
}