*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact_section {
    margin: 0 5rem;
    min-width:80vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_wrapper{
    min-width: 60vw;
    min-height: 60vh;
    display: flex;
    background-color: var(--light-navy);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
 
.contact_heading {
    font-family: var(--font-verdana);
    font-size: var(--fz-lg);
    color: var(--white);
}
 
.contact_desc {
    font-family: var(--font-verdana);
    font-size: var(--fz-md);
    color: var(--slate);
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 2vw;
    font-weight: 500;
    max-width: 60vw;
}

.contact_desc > p {
    font-size: var(--fz-md);
    line-height: 6vh;
}
 
.contact_btn {
    outline: none;
    background: transparent;
    border: 1px solid var(--green);
    font-size: var(--fz-md);
    color: var(--green);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    cursor: pointer;
}
 
.contact_btn:hover {
    background: var(--green-tint);
}