*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_container {
    top:0;
    left:0;
    position: fixed;
    min-width: 100vw;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--transparent-navy);
    box-shadow: var(--navy-shadow);
    z-index: 100;
}
 
.nav_left {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 5rem;
    border:2px solid aqua;
    box-shadow: rgba(0, 255, 255, 1) 0px 2px 8px 0px, rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.nav_left > h1{
    letter-spacing: 1px;
    font-size: var(--fz-md);
    color: var(--light-slate);
}
 
.nav_right {
    min-width:25vw;
    margin-right: 2rem;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
 
.nav_link {
    color: var(--light-slate);
    font-size: var(--fz-md);
    font-family: var(--font-verdana);
    cursor: pointer;
}
  
.nav_link:hover {
    color: var(--green);
}

.nav_link:active {
    color: var(--green);
}