.experience-container {
  margin-top: 2rem;  
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.experience-section-bg {
  position: relative;
  padding: 4rem 1rem 0 1rem;
  width: 48%;
  max-width: 48%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  -webkit-backdrop-filter: blur(25px) saturate(120%);
  backdrop-filter: blur(25px) saturate(120%);
  background-color: rgba(74, 81, 81, 0.25);
  border: 2px solid var(--clr-aqua-tint);
}

.company-logo-bg {
  margin: 0 1rem;
  position: absolute;
  top: -8%;
  width: 150px;
  max-width: 150px;
  height: 75px;
  max-height: 75px;
  border: 2px solid var(--clr-aqua-tint);
  background-color: var(--clr-navy);
  border-radius: var(--fz-ts);
}

.company-logo {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.title-section::after{
  content: '';
  width: 100%;
  height: 1px; 
  background-color: var(--clr-aqua-tint);
  display: flex;
}

.role {
  font-size: var(--fz-md);
  color: var(--clr-white);
}

.duration {
  font-size: var(--fz-xs);
  color: var(--clr-slate);
  font-style: italic;
}

.section-divider-line {
  border-color: var(--clr-aqua-tint);
}

.company-info {
  font-size: var(--fz-sm);
  color: var(--clr-slate);
}

.work-list-title {
    margin-top: 0.5rem;
    font-size: var(--fz-sm);
    color: var(--clr-aqua);
}

.work-list li{
    font-size: var(--fz-sm);
    line-height: 1.3rem;
}

.title-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap:0.5rem;
}

/* @media screen and (max-width: 426px) {

  .experience-container{
    margin-top: 0;
    flex-direction: column;
    gap:2rem;
  }

  .experience-section-bg{
    margin-top: 2rem;
    width: 100%;
    max-width: 100%;
  }
  
    .role{
        font-size: var(--fz-sm);
    }

    .company-info, .work-list-title,.work-list li {
        font-size: var(--fz-ts);
    }
    
} */

@media screen and (max-width: 769px) {
  .experience-container{
    margin-top: 0;
    flex-direction: column;
    gap:2rem;
  }

  .experience-section-bg{
    margin-top: 2rem;
    width: 100%;
    max-width: 100%;
  }
}