.experience-container {  
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.experience-section-bg {
  margin-top: 3rem;
  position: relative;
  padding: 3rem 2rem 1rem 2rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--clr-aqua-tint);
  background-color: rgba(74, 81, 81, 0.25);
  -webkit-backdrop-filter: blur(25px) saturate(120%);
  backdrop-filter: blur(25px) saturate(120%);
}

.company-logo-bg {
  position: absolute;
  top: -12%;
  width: 180px;
  max-width: 180px;
  height: 90px;
  max-height: 90px;
  border: 2px solid var(--clr-aqua-tint);
  background-color: var(--clr-navy);
  border-radius: var(--fz-ts);
}

.company-logo {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.title-section {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  gap:0.5rem;
}

.title-section::after{
  content: '';
  width: 100%;
  height: 1px; 
  background-color: var(--clr-aqua-tint);
  display: flex;
}

.role{
  font-size: 2dvw;
  color: var(--clr-white);
}

.duration {
  font-size: 1dvw;
  color: var(--clr-slate);
}

.company-info{
  font-size: 1.5dvw;
  color: var(--clr-slate);
}

.work-list-title{
  margin-top: 0.5rem;
  font-size: 1.5dvw;
  color: var(--clr-aqua);
}

.work-list li{
  font-size: 1.5dvw;
  line-height: 2rem;
  color: var(--clr-slate);
}

@media screen and (max-width: 450px) {

  .experience-section-bg{
    padding-top: 2rem;
  }

  .company-logo-bg {
    top: -6%;
    width: 120px;
    max-width: 120px;
    height: 60px;
    max-height: 60px;
  }

  .role{
    font-size: 4.5vw;
  }

  .duration{
    font-size: 3.5vw;
  }

  .company-info, .work-list-title{
    font-size: 4dvw;
  }

  .work-list li{
    font-size: 3.5dvw;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 451px) and (max-width: 601px) {

  .experience-section-bg{
    padding-top: 2rem;
  }

  .company-logo-bg {
    top: -8%;
    width: 120px;
    max-width: 120px;
    height: 60px;
    max-height: 60px;
  }

  .role{
    font-size: 3vw;
  }

  .duration{
    font-size: 2vw;
  }

  .company-info, .work-list-title{
    font-size: 2.5dvw;
  }

  .work-list li{
    font-size: 2.5dvw;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {

  .company-logo-bg {
    top: -10%;
    width: 150px;
    max-width: 150px;
    height: 75px;
    max-height: 75px;
  }

  .role{
    font-size: 2.75vw;
  }

  .duration{
    font-size: 1.75vw;
  }

  .company-info, .work-list-title{
    font-size: 2dvw;
  }

  .work-list li{
    font-size: 1.75dvw;
    line-height: 1.5rem;
  }
}
