.projects-container {
  width: 100%;
  max-width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.projects-left {
  width: 30%;
  max-width: 30%;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--clr-aqua-tint);
  background-color: var(--clr-light-navy);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.project-title {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: var(--fz-sm);
  border-radius: var(--fz-sm);
  background-color: var(--clr-navy);
  color: var(--clr-white);
  cursor: pointer;
}

.active {
  background-color: var(--clr-white);
  color: var(--clr-navy);
}

.projects-right {
  width: 65%;
  max-width: 65%;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid var(--clr-aqua-tint);
  background-color: var(--clr-light-navy);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-name {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  border-left: 4px solid var(--clr-aqua-tint);
  color: var(--clr-aqua);
  font-size: var(--fz-lg);
}

.project-heading {
  margin-bottom: 0.5rem;
  color: var(--clr-white);
  font-size: var(--fz-md);
}

.technologies-div{
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.technologies{
  font-size: var(--fz-md);
}

.technologies-count{
  color: var(--clr-aqua);
  font-weight: 600;
}

.project-link {
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--clr-aqua);
}

@media screen and (max-width: 768px){

  .projects-container {
    flex-direction: column;
    justify-content: flex-start;
    gap:2rem;
  }

  .projects-right {
    width: 100%;
    max-width: 100%;
  }

}

@media screen and (max-width: 426px){
  .projects-left{
    width: 80%;
    max-width: 80%;
  }

  .projects-right{
    padding: 1rem;
  }
}

@media screen and (min-width: 426px)and (max-width: 601px){
  .projects-left{
    width: 65%;
    max-width: 65%;
  }
}

@media screen and (min-width: 601px)and (max-width: 768px){
  .projects-left{
    width: 50%;
    max-width: 50%;
  }
}
