*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.experience_container {
    margin: 0 5rem; 
    min-width: 80vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
   
.experience_left {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}
  
.experience_tab {
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: var(--fz-lg);
  transition: var(--transition);
  font-style: var(--font-sans);
  border-left: 5px solid var(--lightest-navy);
  cursor: pointer;
}
   
.experience_tab:hover {
  background: var(--lightest-navy);
  color: var(--green);
}
  
.experience_active_tab {
  border-left: 2px solid var(--green);
  background: var(--lightest-navy);
  color: var(--green);
}
  
.experience_right {
  min-width: 50vw;
  gap:1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-verdana);
}
   
.experience_title {
  line-height: 6vh;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: var(--fz-xl);
  font-style: var(--font-sans);
}
  
.experience_title > a {
  color: var(--green);
}
   
.experience_details {
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
  color: var(--slate);
}