 /* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: var(--navy);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}
 
.headers{
  position: relative;
  text-align: center;
  top:5rem;
}

.navigate-btn{
  width:40px;
  height:40px;
  color:white;
  border: none;
  border-radius: 50%;
  cursor:pointer;
  background-color: var(--light-navy);
  box-shadow: 0px 0px 2px 2px var(--green);
  position: fixed;
  bottom:50px;
  right:80px;
}

