.contact-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-icon-bg {
  padding: 1rem 1.25rem;
  border-radius: 10px;
  border: 1px solid var(--clr-aqua-tint);
  background-color: var(--clr-light-navy);
  color: var(--clr-white);
}

.contact-icon-bg:hover {
  border: 1px solid var(--clr-aqua);
  background-color: var(--clr-navy);
}

.contact-icon,
.contact-icon-title {
  font-size: var(--fz-md);
}

.contact-icon-title:hover {
  color: var(--clr-aqua);
}

@media screen and (max-width: 600px) {
  .contact-icon-bg {
    padding: 0.75rem 1rem;
  }

  .contact-container{
    justify-content: center;
    gap: 3rem;
  }

  .contact-icon,
  .contact-icon-title {
    font-size: var(--fz-sm);
  }
}
