.home-bg {
  width: 100dvw;
  max-width: 100%;
  height: 100dvh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: var(--font-rubik);
}

.greeting {
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  color: var(--clr-aqua);
}

.home-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.name {
  font-weight: 500;
  font-size: var(--fz-xxxl);
  color: var(--clr-light-slate);
  text-transform: capitalize;
  text-align: center;
}

.job-role {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: var(--fz-lg);
  color: var(--clr-slate);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.actions-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid var(--clr-aqua-tint);
  background-color: transparent;
  font-size: var(--fz-md);
  color: var(--clr-aqua);
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: var(--clr-aqua-tint);
}

@media screen and (max-width: 768px) {
  .greeting,
  .btn {
    font-size: var(--fz-sm);
  }

  .name {
    margin: 0 1rem;
    font-size: var(--fz-xxl);
    line-height: 3rem;
  }

  .job-role {
    font-size: var(--fz-md);
  }

  .actions-div {
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .home-title-wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .greeting,
  .btn {
    font-size: var(--fz-xs);
  }

  .job-role {
    font-size: var(--fz-sm);
  }
}
